footer {
	margin-top: 56px;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 0 56px;
	background-color: #C0A690;
	align-items: center;
}

footer > .logo {
}

a {
	color: #000;
}

footer > .links {
	display: flex;
	align-items: center;
	gap: 48px;
	margin-bottom: 26px;
}

footer > .socials {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 26px;
}

footer > .privacy {

}
