footer {
	margin-top: 56px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	width: 100%;
	padding: 56px 0;
	background-color: #C0A690;
	align-items: center;
}

footer > .logo {

}

a {
	color: #000;
}

footer > .links {
	display: flex;
	align-items: center;
	gap: 48px;
}

footer > .socials {
	display: flex;
	align-items: center;
	gap: 24px;
}

footer > .privacy {

}
