#backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

#authModal, #registerModal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 16px;
	padding: 16px;
	z-index: 100;
	width: 700px;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

.closebtn {
	position: absolute;
	top: 16px;
	right: 16px;
}
